body {
    background-color: white;
    margin: auto;
    text-align: center;
    margin: 5cm;
    border-left: 100px solid #df7700;
    border-right: 100px solid #df7700;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}
h1 {
    background-color: #FFBB0F;
    display: inline-block;
    font-size: 67px;
    border: solid #FFBB0F;
    border-radius: 5px;
}
#burger {
    width: 400px;
    float: right;
}
ul {
    display: inline-block;
}
p {
    display: inline-block;
    background-color: #FFBB0F;
    color: #012900;
    border: #FFBB0F solid;
    border-radius: 3px;
}
a {
    margin: auto;
    padding: auto;
    align-self: center;
    display: inline-block;
}
