p {
    text-align: left;
}
article {
    font-size: 25px;
    background-color: #FFBB0F;
    text-align: left;
    display: inline-block;
}
img {
    border: 7px solid;
    border-radius: 5px;
    margin: 10px;
}
